* {
    box-sizing: border-box;
}

.board {
    width: 600px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;

}

.cell {
    width: 140px;
    height: 140px;
    margin: 5px;
    background-color: #067421;
    text-align: center;
}